@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800);

$white: #FAEFF1;
// $white: #FFF;
$red : #D83454;
$darkGray : #434244;
$lightGray : #F1F2F2;
$gray : #CBCBCB;
$fontSize : 5.5vw;
$super-small-width: 590px;
$small-width: 740px;
$medium-width: 900px;
$large-width: 1100px;
