@import 'variables'; 
@import 'mixins'; 
@import "compass/css3";
@import "compass/utilities";
@import "include-media";

.section{
	@include center-aligner();
}

.red{
	@include section($red);
	display:table-cell;
	.sectionTop{
		display: table-cell;
		vertical-align: bottom;
		height: 75vh;
	}
	.sectionBottom{
		margin-top: 10vh;
		@include media("<=medium"){
			margin-top: 8vh;
		}
		@include media("<=small"){
			margin-top: 6vh;
		}
	}
}

.lightGray{
	@include section($lightGray);
	.sectionTop{
		display: inline-block;
		height: 75vh;
		@include media("<=large"){
			height: 70vh;
		}
		@include media("<=medium"){
			height: 65vh;
		}
		@include media("<=small"){
			height: 60vh;
		}
		@include media("<=very-small"){
			height: 55vh;
		}
	}
	
}

.imageCenter{
	width: 40vh;
}

.logoSubtitle{
	@include font-style($white, 2rem, 400);
	letter-spacing: 1px;
	line-height: 128%;
	margin-top: 10vh;
	margin-left: 30vw;
	margin-right: 30vw;
	@include media("<=large"){
		margin-left: 25vw;
		margin-right: 25vw;
	}
	@include media("<=medium"){
		margin-left: 20vw;
		margin-right: 20vw;
	}
	@include media("<=small"){
		margin-left: 15vw;
		margin-right: 15vw;
	}
	@include media("<=very-small"){
		margin-left: 8vw;
		margin-right: 8vw;
	}
}

.drawing{
	width: 75vh;
	margin-top: 9vw;
	@include media("<=large","portrait"){
		width: 35vh;
		margin-top: 11vw;
	}
	@include media("<=medium","portrait"){
		width: 40vh;
		margin-top: 13vw;
	}
	@include media("<=small","portrait"){
		width: 60vh;
		margin-top: 15vw;
	}
	@include media("<=very-small","portrait"){
		width: 40vh;
		margin-top: 17vw;
	}
}

.drawingSubtitle{
	@include font-style($darkGray, 2.9rem, 400);
	letter-spacing: 0.4px;
	margin-left: 10vw;
	margin-right: 10vw;
}

strong{
	font-weight: normal;
	color: $red;
}

.scrollButton{
	@include border-radius(25px);
	background: url("../images/arrowDown.png") no-repeat center;
	background-size: 35%;
	width: 5rem;
	height: 5rem;
	border-style: solid;
	border-width: 2px;
	border-color: $white;
	cursor: pointer;
	margin-left: auto;//ie
	margin-right: auto;//ie
	@include box-shadow($darkGray 1px 1px 8px);
	&:active{
		@include box-shadow($darkGray 0px 0px 0px);
	}
}

.redButton{
	background-color: $red;
	border-width: 3px;
	width: 4.8rem;
	height: 4.8rem;
	margin-top: 5vh;
	@include media("<=medium"){
		margin-top: 6vh;
	}
	@include media("<=small"){
		margin-top: 11vh;
	}
}