@import 'variables'; 
@import 'mixins'; 
@import "compass/css3";
@import "compass/utilities";
@import "include-media";

* {
	font-family: 'Raleway', sans-serif !important;
}

.section{
	@include center-aligner();
	
}

.redBG{
	@include section($red);
	width: 100vw;
	display:table-cell;
	.sectionTop{
		display: table-cell;
		vertical-align: bottom;
		height: 75vh;
	}
	.sectionBottom{
		margin-top: 10vh;
		@include media("<=medium"){
			margin-top: 8vh;
		}
		@include media("<=small"){
			margin-top: 6vh;
		}
	}
}

.lightGrayBG{
	@include section($lightGray);
	.sectionTop{
		display: inline-block;
		height: 75vh;
		@include media("<=large"){
			height: 70vh;
		}
		@include media("<=medium"){
			height: 65vh;
		}
		@include media("<=small"){
			height: 60vh;
		}
		@include media("<=very-small"){
			height: 55vh;
		}
	}
}

.whiteBG{
	@include section($white);
	.sectionTop{
		height: 75vh;
	}
	.sectionBottom{
		margin-top: 7rem;
	}
}

.imageCenter{
	width: 40vh;
}

.logoSubtitle{
	@include font-style($lightGray, 2rem, 400);
	letter-spacing: 1px;
	line-height: 128%;
	margin-top: 10vh;
	margin-left: 30vw;
	margin-right: 30vw;
	@include media("<=large"){
		margin-left: 25vw;
		margin-right: 25vw;
	}
	@include media("<=medium"){
		margin-left: 20vw;
		margin-right: 20vw;
	}
	@include media("<=small"){
		margin-left: 15vw;
		margin-right: 15vw;
	}
	@include media("<=very-small"){
		margin-left: 8vw;
		margin-right: 8vw;
	}
}

.drawing{
	width: 75vh;
	margin-top: 9vw;
	@include media("<=large","portrait"){
		width: 35vh;
		margin-top: 11vw;
	}
	@include media("<=medium","portrait"){
		width: 40vh;
		margin-top: 13vw;
	}
	@include media("<=small","portrait"){
		width: 60vh;
		margin-top: 15vw;
	}
	@include media("<=very-small","portrait"){
		width: 40vh;
		margin-top: 17vw;
	}
}

.drawingSubtitle{
	@include font-style($darkGray, 2.9rem, 400);
	letter-spacing: 0.4px;
	margin-left: 10vw;
	margin-right: 10vw;
}

strong{
	font-weight: normal;
	color: $red;
}

.scrollButton{
	@include border-radius(25px);
	background: url("../images/arrowDown.png") no-repeat center;
	background-size: 35%;
	width: 5rem;
	height: 5rem;
	border-style: solid;
	border-width: 2px;
	border-color: $lightGray;
	cursor: pointer;
	margin-left: auto;//ie
	margin-right: auto;//ie
	@include box-shadow($darkGray 1px 1px 20px -5px);
	&:active{
		@include box-shadow($darkGray 0px 0px 0px);
	}
}

.redButton{
	background-color: $red;
	border-width: 3px;
	width: 4.8rem;
	height: 4.8rem;
	margin-top: 5vh;
	@include media("<=medium"){
		margin-top: 6vh;
	}
	@include media("<=small"){
		margin-top: 11vh;
	}
}

.blackButton{
	border-color: $darkGray;
	border-width: 2.5px;
	width: 4.8rem;
	height: 4.8rem;
	margin-top: 5vh;
}

.titleWithMargin{
	@include font-style($darkGray, 6.3rem, 400);
	margin-top: 0;
	padding-top: 4rem;
	margin-bottom: 10.5rem;
	@include media("<=circlesColliding"){
		margin-bottom: 3rem;
	}
}

.servicesContainer{
	width: 77vw;
	margin-left: auto;//ie
	margin-right: auto;//ie
	@include media("<=993px"){
		width: 90vw;
	}
	@include media("<=circlesColliding"){
		text-align: left;
	}
}

.circle{
	@include border-radius(25vh);
	width: 14vw;
	height: 14vw;
	@include media("<=circlesColliding"){
		width: 12vh;
		height: 12vh;
		display: inline-block;
		vertical-align: middle;
		margin-bottom: 2rem;
	}
}

.service1{
	background: $red url("../images/service1.png") no-repeat center/44%;
}
.service2{
	background: $red url("../images/service2.png") no-repeat center/44%;
}
.service3{
	background: $red url("../images/service3.png") no-repeat center/44%;
}
.service4{
	background: $red url("../images/service4.png") no-repeat center/44%;
}

.circleSubtitle{
	@include font-style($darkGray, 2rem, 500);
	@include opacity(0.8);
	margin-top: 5rem;
	@include media("<=circlesColliding"){
		margin-top: 2rem;
		display: inline-block;
		vertical-align: super;
		margin-left: 2.5rem;
	}
	@include media("<=360px"){
		margin-left: 0.5rem;
		@include font-style($darkGray, 1.7rem, 500);
	}
}