@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800);
/* line 7, ../sass/style.scss */
.section {
  text-align: center;
  text-align: -moz-center;
  text-align: -webkit-center;
  margin-left: auto;
  margin-right: auto;
}

/* line 11, ../sass/style.scss */
.red {
  background-color: #D83454;
  height: 100vh;
  display: table-cell;
}
/* line 14, ../sass/style.scss */
.red .sectionTop {
  display: table-cell;
  vertical-align: bottom;
  height: 75vh;
}
/* line 19, ../sass/style.scss */
.red .sectionBottom {
  margin-top: 10vh;
}
@media (max-width: 900px) {
  /* line 19, ../sass/style.scss */
  .red .sectionBottom {
    margin-top: 8vh;
  }
}
@media (max-width: 740px) {
  /* line 19, ../sass/style.scss */
  .red .sectionBottom {
    margin-top: 6vh;
  }
}

/* line 30, ../sass/style.scss */
.lightGray {
  background-color: #F1F2F2;
  height: 100vh;
}
/* line 32, ../sass/style.scss */
.lightGray .sectionTop {
  display: inline-block;
  height: 75vh;
}
@media (max-width: 1100px) {
  /* line 32, ../sass/style.scss */
  .lightGray .sectionTop {
    height: 70vh;
  }
}
@media (max-width: 900px) {
  /* line 32, ../sass/style.scss */
  .lightGray .sectionTop {
    height: 65vh;
  }
}
@media (max-width: 740px) {
  /* line 32, ../sass/style.scss */
  .lightGray .sectionTop {
    height: 60vh;
  }
}
@media (max-width: 590px) {
  /* line 32, ../sass/style.scss */
  .lightGray .sectionTop {
    height: 55vh;
  }
}

/* line 51, ../sass/style.scss */
.imageCenter {
  width: 40vh;
}

/* line 55, ../sass/style.scss */
.logoSubtitle {
  font-family: 'Raleway';
  color: #FAEFF1;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 128%;
  margin-top: 10vh;
  margin-left: 30vw;
  margin-right: 30vw;
}
@media (max-width: 1100px) {
  /* line 55, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 25vw;
    margin-right: 25vw;
  }
}
@media (max-width: 900px) {
  /* line 55, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media (max-width: 740px) {
  /* line 55, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
@media (max-width: 590px) {
  /* line 55, ../sass/style.scss */
  .logoSubtitle {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

/* line 80, ../sass/style.scss */
.drawing {
  width: 75vh;
  margin-top: 9vw;
}
@media (max-width: 1100px) and (orientation: portrait) {
  /* line 80, ../sass/style.scss */
  .drawing {
    width: 35vh;
    margin-top: 11vw;
  }
}

@media (max-width: 900px) and (orientation: portrait) {
  /* line 80, ../sass/style.scss */
  .drawing {
    width: 40vh;
    margin-top: 13vw;
  }
}

@media (max-width: 740px) and (orientation: portrait) {
  /* line 80, ../sass/style.scss */
  .drawing {
    width: 60vh;
    margin-top: 15vw;
  }
}

@media (max-width: 590px) and (orientation: portrait) {
  /* line 80, ../sass/style.scss */
  .drawing {
    width: 40vh;
    margin-top: 17vw;
  }
}

/* line 101, ../sass/style.scss */
.drawingSubtitle {
  font-family: 'Raleway';
  color: #434244;
  font-size: 2.9rem;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* line 108, ../sass/style.scss */
strong {
  font-weight: normal;
  color: #D83454;
}

/* line 113, ../sass/style.scss */
.scrollButton {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: url("../images/arrowDown.png") no-repeat center;
  background-size: 35%;
  width: 5rem;
  height: 5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #FAEFF1;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  -moz-box-shadow: #434244 1px 1px 8px;
  -webkit-box-shadow: #434244 1px 1px 8px;
  box-shadow: #434244 1px 1px 8px;
}
/* line 126, ../sass/style.scss */
.scrollButton:active {
  -moz-box-shadow: #434244 0px 0px 0px;
  -webkit-box-shadow: #434244 0px 0px 0px;
  box-shadow: #434244 0px 0px 0px;
}

/* line 131, ../sass/style.scss */
.redButton {
  background-color: #D83454;
  border-width: 3px;
  width: 4.8rem;
  height: 4.8rem;
  margin-top: 5vh;
}
@media (max-width: 900px) {
  /* line 131, ../sass/style.scss */
  .redButton {
    margin-top: 6vh;
  }
}
@media (max-width: 740px) {
  /* line 131, ../sass/style.scss */
  .redButton {
    margin-top: 11vh;
  }
}
